.blog-link-item {
  color: #999999;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.blog-list {
  list-style-type: none;
  margin: 0;
}

.blog-list-item {
	margin: 1rem 0;

	a {
		background: #f4f4f4;
		color: #000000;
		display: block;
		padding: 1rem;
		text-decoration: none;
	}

	a:hover {
		background: #e4e4e4;
	}

	h2 {
		margin-bottom: 0;
	}

	p {
		color: #777777;
		font-size: .8rem;
		font-style: italic;
	}
}