.header {
  padding: 1rem 0 3rem;
}

.title {
  color: #000000;
  font-size: 3rem;
  font-family: Brush Script MT,cursive; 
  text-decoration: none;
}

.title:hover {
  color: #666666;
  text-decoration: none;
}
