.nav-bar {
	max-width: 100%;
	background-color: #ffffff;
  margin: 0rem;
}

.nav-list {
  max-width: 90%;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

.nav-item-right {
  color: #999999;
  padding: 1.3rem 0.9rem;
  text-decoration: none;
  text-align: center;
  float: right;
  font-size: 1rem;
} 


.nav-item-right:hover {
  color: #666666;
  background-color: #ddd;
  text-decoration: none;
}

.active-nav-item-right {
  color: #333333;
  background-color: #ccc;
}